@media (min-width: 280px) and (max-width: 860px) {
    .auth-cover {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 5%;
    }

    .middle-banner {
        background-size: cover;
        background-position: center;
        height: 100%;

    }
}